Source: quickstack
Section: debug
Priority: optional
Maintainer: Wikimedia Technical Operations <ops@lists.wikmedia.org>
Uploaders: Giuseppe Lavagetto <glavagetto@wikimedia.org>,
           Faidon Liambotis <faidon@wikimedia.org>
Build-Depends: debhelper (>= 9),
  cmake,
  binutils-dev,
  libelf-dev,
  libiberty-dev,
  zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://github.com/yoshinorim/quickstack/

Package: quickstack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: call stack traces with minimal overheads
 There are a couple of tools to take stack traces such as gdb, pstack,
 but these tools have serious overheads. In many cases, target process
 stops for 0.2-N seconds. So it is dangerous to use such tools in
 production environment. quickstack makes it possible to take stack
 traces in less than 1 milliseconds. This is much smaller overhead so
 you can frequently take stack traces in production environment. 
 .
 quickstack internally scans stack frames and guesses caller
 functions.
